@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

* {
    .box-sizing(border-box);
}
*:before,
*:after {
    .box-sizing(border-box);
}

html {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    font-family: 'Droid Serif';
    font-size: 24px;
    line-height: 1.5;
    color: #555555;
    background-color: #FFFFFF;
}

a {
    color: #80a000;
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:focus {
    color: #576d00;
    text-decoration: underline;
}

a:focus {
    outline: 3px solid #80a000;
    outline-offset: 0;
    background-color: #80a000;
    color: #FFF;
    text-decoration: none;
}

ol {
    padding: 0 0 0 1.5em;
    margin: 1em 0;
}

ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

li:before {
    content: "\25cf";
    color: #00989e;
    padding-right: 6px;
}

img {
    vertical-align: middle;
    max-height: 550px;
    max-width: 1000px;
/*    margin: 0 auto 1em*/
    margin: auto;
    display: block;
}

hr {
    height: 0;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif';
    letter-spacing: -0.04em;
    font-weight: 500;
    margin: 1em 0 0.5em;
}

b,
strong {
    font-weight: 500;
}

blockquote {
    border-left: 5px solid #cccccc;
    padding-left: 1em;
    margin: 1em -2em;
    font-style: italic;
    color: #999999;
}

.remark-slide-number {
    padding-right: 1050px;
}

.remark-slide {
    display: table;
}

.remark-slide-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 6em;
    border-bottom: 18px solid #00989e;
    font-size: 35px;
}

.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 55px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../public/images/syscall_unit_test/huawei_logo.png); 
}

.remark-slide-content h1 {
    font-size: 56px;
    color: #00989e;
}

.remark-slide-content h2 {
    font-size: 48px;
    color: #00989e;
}

.remark-slide-content h3 {
    font-size: 40px;
}

.remark-slide-content h4 {
    font-size: 36px;
}

.remark-slide-content h5 {
    font-size: 30px;
}

.remark-slide-content h6 {
    font-size: 24px;
}

.remark-slide-content li {
    text-align: left;
    font-size: 1em;
    text-indent: -0.8em;
    padding-left: 0em;
    margin-left: 0em;
}

.remark-slide-content > :first-child {
    margin-top: 0;
}

.remark-slide-content > :last-child {
    margin-bottom: 0;
}

/*
.remark-code-line {
    white-space: normal;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 0 1em;
}
*/

a, a > code {
	color: rgb(249, 38, 114);
	text-decoration: none;
}
code {
	background: none repeat scroll 0 0 #F8F8FF;
  border: 1px solid #DEDEDE;
  border-radius: 3px 	;
  padding: 0 0.2em;
}
#slideshow .slide .content code {
	font-size: 0.8em;
}
#slideshow .slide .content pre code {
	font-size: 0.9em;
	padding: 15px;
}
/* Custom */
.remark-code {
	display: block;
	padding: 0.5em;
}
.remark-code, .remark-inline-code { font-family: "Bitstream Vera Sans Mono", "Courier", monospace; }
.remark-code-line-highlighted     { background-color: #373832; }

/* come from http://www.jmlilly.net/liminal/talks/template.html */
.red { color: #fa0000; }
/* Slide-specific styling */
.footnote {
position: absolute;
bottom: 1.1em;
font-size: 12px;
}
/*
#slide-inverse .footnote {
bottom: 20px;
font-size: 8px;
left: 20px;
}
.title {font-size: 3.3em; color:#606060;font-weight:bold;letter-spacing:0.05em}
.subtitle {font-size: 1.4em}
.author {font-size: 1.4em; color:#606060;font-weight:bold;letter-spacing:0.02em}
.coauthor {font-size: 1.0em; color:#606060;font-weight:bold;letter-spacing:0.02em}
.institution {font-size: 1.0em;}
*/
.date {font-size: 1.0em;font-style: italic;}

